.Content {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content,
button {
  transition: background-color 1s ease-in !important;
}

#text {
  opacity: 0;
}

.card {
  width: 35vw;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .card {
    width: 90vw;
  }
}
